@font-face {
  font-family: "Caustics";
  font-weight: bold;
  src: url("../vendors/Fonts/Caustics_Demo.otf") format("opentype");
}
:root {
  --main-font: "Caustics", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --main-color: #de6538;
  --second-color: #743f2f;
  --third-color: #f2b24a;
  --fourth-color: #93993d;
  --main-bg: #171717;
  --darker-bg: #0f0f0f;
  --font-color: #ffffff;
}
* {
  color: var(--font-color);
  font-family: var(--secondary-font);
}
body {
  background-color: var(--main-bg);
}
/* ==================================
#General
================================== */
.break {
  width: 100%;
  height: auto;
}
.btn-main,
.btn-main:hover {
  background-color: var(--main-color);
  color: var(--font-color);
}
.swiper-slide:hover {
  cursor: grab;
}
.swiper-slide:active {
  cursor: grabbing;
}
.top-20 {
  top: 40px;
}
.top-15 {
  top: 20%;
}
.success {
  background-color: var(--main-color);
}
.t-x {
  transform: translateX(-50%);
}
.op-6 {
  opacity: 0.6;
}
.start-33 {
  left: 33%;
}
.start-66 {
  left: 66%;
}
.start-95 {
  left: 95%;
}
.caustics {
  font-family: var(--main-font);
}
/* ==================================
#header
================================== */
header {
  background-color: var(--darker-bg);
}
header nav .navbar-toggler i {
  color: var(--font-color);
  font-size: 22px;
}
header nav .navbar-nav a.nav-link {
  font-size: 18px;
  color: var(--font-color);
  transition: color 0.3s;
}
header nav .navbar-nav a.nav-link:hover {
  color: var(--main-color);
}
header nav .navbar-nav a.nav-link.active {
  color: var(--main-color);
}
/* ==================================
#index page
================================== */
/* ----- #hero ----- */
#hero h1 {
  font-family: var(--main-font);
}
#hero .hero-text {
  opacity: 0.6;
}
#hero .swiper-slide img {
  border-radius: 20px;
}
#hero .swiper-slide {
  filter: blur(3px);
  opacity: 1;
}
#hero .swiper-slide-active {
  filter: blur(0px);
  opacity: 1;
}
/* ----- #languages ----- */
#languages {
  background: url(../images/world-map.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
#languages h2,
#languages h3 {
  font-family: var(--main-font);
}
#languages .form-select:focus-within,
#languages .form-select:focus-visible,
#languages .form-select {
  background-color: var(--darker-bg);
  color: var(--font-color);
  border-radius: 0;
  border: 1px solid var(--main-color);
  box-shadow: none;
}
#languages p {
  opacity: 0.6;
}
/* ----- #resources ----- */
#resources p {
  opacity: 0.6;
}
#resources .blog .card {
  background-color: var(--darker-bg);
  border: none;
}
#resources .blog .card .card-title {
  color: var(--third-color);
}
#resources .blog .card .card-text {
  font-size: 12px;
}
#resources h2,
#resources h3 span {
  font-family: var(--main-font);
}
#resources .webinar .card .circleImage {
  border: 3px solid var(--third-color);
}
#resources .webinar .card .card-title {
  color: var(--third-color);
}
#resources .webinar .card small,
#resources .webinar .card small > * {
  color: var(--main-color);
}
#resources .webinar .card .card-text {
  opacity: 0.6;
  font-size: 12px;
}
#resources .webinar .col-lg-4:nth-child(2),
#resources .webinar .col-lg-4:nth-child(5) {
  border-right: 4px solid var(--third-color);
  border-left: 4px solid var(--third-color);
}
/* ----- #client ----- */
#client h2 {
  font-family: var(--main-font);
}
#client .container > p {
  opacity: 0.6;
}
#client .row .card {
  border: 1px solid var(--third-color);
  border-radius: 0px;
}
#client .row .card .card-title {
  color: var(--third-color);
}
/* ----- #counter ----- */
#counter h3,
#counter h3 span {
  color: var(--main-color);
}
/* ----- #faq ----- */
#faq h2 {
  font-family: var(--main-font);
}
#faq nav button.nav-link {
  background-color: var(--darker-bg);
  border: 1px solid var(--main-color);
  color: var(--font-color);
}
#faq nav button.nav-link.active {
  background-color: var(--main-color);
}
#faq .tab-content {
  background-color: rgba(255, 255, 255, 0.1);
}
/* ----- #expert ----- */
#expert {
  background: url(../images/bg-light.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
#expert h2 {
  font-family: var(--main-font);
}
#expert p {
  opacity: 0.6;
}
/* ==================================
#footer
================================== */
footer {
  background-color: var(--darker-bg);
}
footer .text-logo,
footer li a {
  opacity: 0.6;
}
footer i {
  color: var(--main-color);
  font-size: 32px;
}
/* ==================================
#aboutUs page
================================== */
/* ----- #aboutUs ----- */
#aboutUs {
  background: url(../images/about.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#aboutUs h1 {
  font-family: var(--main-font);
}
/* ----- #vision ----- */
#vision {
  background-image: url(../images/about-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
#vision p {
  opacity: 0.6;
}
/* ----- #whyus ----- */
#whyUs nav,
#whyUs .scrollspy {
  background-color: var(--darker-bg);
  border: 3px solid var(--main-color);
}
#whyUs .scrollspy {
  max-height: 350px;
}
#whyUs .scrollspy::-webkit-scrollbar {
  width: 20px;
}
#whyUs .scrollspy::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
#whyUs .scrollspy::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
#whyUs nav a.nav-link.active {
  background-color: var(--main-color);
  border-radius: 0px;
}
/* ----- #translation ----- */
#translation {
  background: var(--second-color);
}
#translation .container-fluid {
  background: url(../images/bg-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* ----- #team ----- */
#team .card .circleImage {
  border: 3px solid var(--third-color);
}
#team .card .circleImage p {
  background-color: var(--main-color);
  font-family: var(--main-font);
  width: 84px;
  height: 84px;
}
#team .card-body h5 {
  color: var(--third-color);
}
#team .card-body small {
  color: var(--main-color);
}
#team .cycle button.btn {
  background-color: var(--main-color);
}
#team button.position-absolute {
  color: var(--font-color);
}
#team p.position-absolute {
  color: var(--third-color);
}
/* ==================================
#contactUs page
================================== */
#contactUs {
  background: url(../images/about-2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#contactUs .success {
  z-index: 12;
}
#contactUs .success i:hover {
  cursor: pointer;
}
#contactUs .success .container-fluid {
  background: url(../images/form.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#contactUs .container p {
  opacity: 0.6;
}
#contactUs .form-control:focus,
#contactUs .form-control:focus-within,
#contactUs .form-control:focus-visible,
#contactUs .form-control {
  background-color: var(--darker-bg);
  color: var(--font-color);
  border-radius: 0;
  border: 1px solid var(--main-color);
  box-shadow: none;
}
#contactUs .form-control::placeholder {
  color: rgba(255, 255, 255, 0.2);
}
/* ==================================
#FOE page
================================== */
#FOE {
  background: url(../images/bg-light.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
#FOE nav,
#FOE .scrollspy {
  background-color: var(--main-bg);
  border: 3px solid var(--main-color);
}
#FOE .scrollspy {
  max-height: 350px;
}
#FOE .scrollspy::-webkit-scrollbar {
  width: 20px;
}
#FOE .scrollspy::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
#FOE .scrollspy::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
#FOE nav a.nav-link.active {
  background-color: var(--main-color);
  border-radius: 0px;
}
/* ==================================
#solutions page
================================== */
/* ----- #solution ----- */
#solution {
  background: url(../images/Afroseed\ Solutions\ Structure.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* ----- #technology ----- */
#technology .card {
  border: 1px solid var(--third-color);
  border-radius: 0px;
  height: 300px;
  overflow-y: scroll;
}
#technology .card::-webkit-scrollbar {
  width: 5px;
}
#technology .card::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
#technology .card::-webkit-scrollbar-thumb {
  background: var(--third-color);
  border-radius: 5px;
}
#technology .card .card-title {
  color: var(--third-color);
}
/* ----- #interpreting ----- */
#interpreting h2 {
  color: var(--main-color);
}
/* ----- #engineering ----- */
#engineering {
  background: var(--second-color);
}
#engineering .container-fluid {
  background: url(../images/bg-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#engineering .card {
  border: none;
  border-right: 3px solid var(--third-color);
  height: 230px;
  overflow-y: scroll;
}
#engineering .card .card-title {
  color: var(--third-color);
}
#engineering .card .card-text {
  opacity: 0.8;
}
#engineering .card::-webkit-scrollbar {
  width: 5px;
}
#engineering .card::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
#engineering .card::-webkit-scrollbar-thumb {
  background: var(--third-color);
  border-radius: 5px;
}
/* ----- #TandL ----- */
#TandL nav,
#TandL .scrollspy {
  background-color: var(--darker-bg);
  border: 3px solid var(--main-color);
}
#TandL .scrollspy {
  max-height: 350px;
}
#TandL .scrollspy::-webkit-scrollbar {
  width: 20px;
}
#TandL .scrollspy::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
#TandL .scrollspy::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
#TandL nav a.nav-link.active {
  background-color: var(--main-color);
  border-radius: 0px;
}
/* ----- #multimedia ----- */
#multimedia .card {
  background: url(../images/Artist\ Card.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px;
  border: 1px solid var(--third-color);
}
#multimedia .card .card-title {
  color: var(--third-color);
}
#gaming {
  background: url(../images/image\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* ==================================
#Careers page
================================== */
#careers h2 {
  font-family: var(--main-font);
}
#careers nav button.nav-link {
  background-color: var(--darker-bg);
  border: 1px solid var(--main-color);
  color: var(--font-color);
}
#careers nav button.nav-link.active {
  background-color: var(--main-color);
}
#careers .form-control:focus,
#careers .form-control:focus-within,
#careers .form-control:focus-visible,
#careers .form-control {
  background-color: var(--darker-bg);
  color: var(--font-color);
  border-radius: 0;
  border: 1px solid var(--main-color);
  box-shadow: none;
}
#careers .form-control::placeholder,
#careers .form-select,
#careers .form-select option,
#careers .input-group input {
  color: #ffffff80;
}
#careers .form-select option:hover {
  background-color: var(--main-color);
}
#careers .cl::file-selector-button {
  display: none;
}

#careers .cl-2 {
  background-color: var(--main-color);
  color: var(--font-main);
  border: 0;
  border-radius: 0px;
}
#careers .success {
  z-index: 12;
}
#careers .success i:hover {
  cursor: pointer;
}
#careers .success .container-fluid {
  background: url(../images/form.png);
  background-repeat: no-repeat;
  background-size: contain;
}
/* ==================================
#Media Query
================================== */
@media (max-width: 992px) {
  #resources .webinar .col-lg-4:nth-child(2),
  #resources .webinar .col-lg-4:nth-child(5) {
    border-right: none;
    border-left: none;
  }
  #resources .webinar .col-lg-4:nth-child(3),
  #resources .webinar .col-lg-4:nth-child(4) {
    border-top: 4px solid var(--third-color);
    border-bottom: 4px solid var(--third-color);
  }
}
@media (max-width: 767px) {
  #resources .webinar .col-lg-4:nth-child(3),
  #resources .webinar .col-lg-4:nth-child(4) {
    border-top: none;
    border-bottom: none;
  }
  #resources .webinar .col-lg-4:nth-child(even) {
    border-top: 4px solid var(--third-color);
    border-bottom: 4px solid var(--third-color);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .t-x-sm {
    transform: translateX(0);
  }
  #technology .card {
    height: 200px;
  }
}
/* @media (max-width: 576px) {
} */
